<title>حساب کاربری</title>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% if user.is_authenticated %}
    <div class="container">
        <h3>پروفایل کاربری</h3>
            <form class="mb-3 row"  method="post">
                {% csrf_token %}
                {{ user_form|crispy }}
                <h4>آدرس</h4>
                {{ address_form|crispy }}
                <input type="submit" class="btn btn-primary" name="" value="ثبت">
            </form>

    </div>
    <div class="container">
        <a href="{% url 'orders:orders' %}" class="btn btn-outline-primary">تاریخچه سفارشات</a>
        <a href="{% url 'password_change' %}" class="btn btn-outline-primary">تغییر رمز</a>

    </div>

{% endif %}
{% endblock %}
