<title>کتابها</title>
{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<link rel="stylesheet" href="/static/signup.css">
    <div class="container">
    <h3>جزئیات کتاب</h3><br>
    {% if book %}
        <table class="table table-striped">
            <tr>
                <th>عنوان: </th>
                <th>نویسنده: </th>
                <th>ژانر: </th>
                <th>قیمت: </th>
                <th>موجودی: </th>
                <th>تاریخ ثبت: </th>

            </tr>
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.price|intcomma }}</td>
                <td>{{ book.inventory }}</td>
                <td>{{ book.created_at|naturaltime }}</td>

            </tr>
        </table>
    {% endif %}
    <p> <a href="" class="btn btn-outline-primary">افزودن به سبد خرید</a>
        <a href="{% url 'products:books' %}" class="btn btn-outline-primary">لیست کتابها</a>
    </p>
    </div>
{% endblock %}
